body {
    display: grid;
    text-align: center;
    background-color: black;
    color: rgba(255, 255, 255, 0.795);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    justify-items: center;
}

button {
    grid-area: ctr;
    height: 15vmin;
    width: 15vmin;
    background-color: rgba(247, 228, 228, 0.87);
    outline: none;
}

#startBtn {
    background: rgba(194, 194, 194, 0.199);
    border: .4vmin solid rgba(219, 219, 219, 0.541);
    font-size: 4vmin;
    color: rgba(255, 255, 255, 0.692);
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}