* {
    box-sizing: border-box;
    margin: 0;
  }
  
body {
    display: grid;
    text-align: center;
    background-color: white;
    color: rgba(205, 82, 235, 0.795);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container {
    height: 60vmin;
    width: 30%;
    margin: 1em auto 0;
    display: grid;
    grid-template: 2fr 2fr / 2fr 2fr;
    grid-gap: 20px;
}


button {
    margin: 1em auto 1em;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
}


.start-button {
    background-color: black;
    font-size: 4vmin;
    color: white;
    height: 10vmin;
    width: 10%;
    align-items:center; 
}

#red {
    background-color: rgb(218, 75, 75);
}

#green {
    background-color: rgb(79, 135, 79);
}

#blue {
    background-color: rgb(83, 83, 255);
}

#yellow {
    background-color: rgb(255, 255, 159);
}